{% extends 'layouts/base.html' %}


{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

{% for message in get_flashed_messages() %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
        {{ message }}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h2 class="title text-center">{% block title %} Games World Cup 2022 {% endblock %}</h2>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <table id="data" class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">Id.</th>
                        <th scope="col">Team 1</th>
                        <th scope="col">Team 2</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Result</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                       <tr class="text-center">
                            <th scope="row">{{ game.id }}</th>
                            <td class="text-capitalize">{{ game.team_1 }}</td>
                            <td class="text-capitalize">{{ game.team_2 }}</td>
                            <td>{{ game.game_day }}</td>
                            <td>{{ game.game_time }}</td>
                            {% if toggle_area == 1 %}
                            <td>
                                <form action="" method="POST">
                                    <input type="value" name="goal_team_1" size="1" value="{{ request.form['goal_team_1'] }}"> : 
                                    <input type="value" name="goal_team_2" size="1" value="{{ request.form['goal_team_2'] }}"/>
                                </form>
                            </td>    
                            <!-- <td>{{ game.goals_team_1 }} : {{ game.goals_team_1 }}</td> -->
                            {% else %}
                                <td>
                                    <form action="" method="POST">
                                        <input type="value" name="goal_team_1" size="1"/> : 
                                        <input type="value" name="goal_team_2" size="1"/>
                                    </form>
                                </td>
                            {% endif %}
                            <td>
                                <form action="" method="POST">
                                    <input type="submit" value="Save" name="save">
                                </form>
                                    <!-- <input type="submit" class="btn btn-warning" value={{ game.id }} name="edit">Edit</input>
                                <input type="submit" class="btn btn-success" value={{ game.id }} name="save">Save</input> -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-auto">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">Add game</div>
                <div class="card-body text-dark ">
                  <p class="card-text text-center">
                    {{ render_form(form) }}
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                </div>
            </div>
        </div>
        <div class="col">
            <table id="data" class="table table-striped">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">Id.</th>
                        <th scope="col">Team</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr class="text-center">
                            <th scope="row">{{ team.id }}</th>
                            <td class="text-capitalize">{{ team.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}