{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Flag</th>
            <th scope="col">Team</th>
            <th scope="col">RM</th>
            <th scope="col">W</th>
            <th scope="col">R</th>
            <th scope="col">P</th>
            <th scope="col">BZ</th>
            <th scope="col">BS</th>
            <th scope="col">RB</th>
            <th scope="col">Pkt</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Flag</td>
            <td>Katar</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Flag</td>
            <td>Ekwador</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>Flag</td>
            <td>Senegal</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>Flag</td>
            <td>Holandia</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>


<h1 class="title">{% block title %} Users {% endblock %}</h1>
<div class="content">
    {% for user in users %}
    <div class="user">
        <p><b>#{{ user.id }}</b></p>
        <b>
            <p class="name">
                <a href="{{ url_for('user', user_id=user.id)}}">
                    {{ user.firstname }} {{ user.lastname }}
                </a>
            </p>
        </b>
        <p>{{ user.email }}</p>
        <p>{{ user.nick }}</p>
        <p>{{ user.password1 }}</p>
        <p>Joined: {{ user.created_at }}</p>
        <a href="{{ url_for('edit', user_id=user.id) }}">Edit</a>
        <hr>
        <form method="POST" action="{{ url_for('delete', user_id=user.id) }}">
            <input type="submit" value="Delete User" onclick="return confirm('Are you want to delte this entry?')">
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}