{% extends 'base.html' %}

{% block content %}
<h1 style="width: 100%">{% block title %} Login {% endblock %}</h1>
<form method="POST" action="">
    <div class="login_form">
        {{ login_form.hidden_tag() }}
        {{ login_form.email(placeholder = "Email") }}
        {{ login_form.password1(placeholder = "Password") }}
        {{ login_form.submit() }}
    </div>
</form>

{% for message in get_flashed_messages() %}
<p style="color: red;">Error : {{ message }}</p>
{% endfor %}

{% endblock %}