{% extends 'layouts/base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card border-dark mb-3" style="max-width: 40rem;">
            <div class="card-header">
                <span class="title">
                    <h2 class="text-capitalize text-center">{% block title %} {{ user.firstname }} {{ user.lastname }}{%
                        endblock %}
                    </h2>
                </span>
            </div>
            <div class="card-body text-dark">
                <p class="card-text">
                <div class="content">
                    <div class="user">
                        <p class="text-capitalize">
                            <b class="first_name">First name:</b> {{ user.firstname }}
                        </p>
                        <p class="text-capitalize">
                            <b class="last_name">Last name:</b> {{ user.lastname }}
                        </p>
                        <p>
                            <b class="last_name">Nick:</b> {{ user.nick }}
                        </p>
                        <p>
                            <b class="last_name">Email:</b> {{ user.email }}
                        </p>
                        <p>
                            <b class="last_name">Joined:</b> {{ user.created_at }}
                        </p>
                        <p></p>
                        <hr>
                        <a class="btn btn-warning" href="{{ url_for('edit', user_id=user.id) }}" role="button">Edit</a>
                        <br><br>
                        <form method="POST" action="{{ url_for('delete', user_id=user.id) }}">
                            <input class="btn btn-danger" type="submit" value="Delete User"
                                onclick="return confirm('Are you want to delte this entry?')">
                        </form>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}